*{
	font-family: Lora;
}

h2{
	margin-top: 30px;
	color: white;
}

h4{
	/*color: white;*/
	padding-top: 10px;
	text-decoration: underline;
}

p{
	color: white;
}


body{
	background-color: black;
}

footer{
	background-color: #FFA900;
}

a:hover{
	color: white;
	text-decoration: underline;
}

footer a{
	color: white;
	text-decoration: none;
}